<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<head>
    <title>Foods</title>
</head>
<body>
    <h1>Meal plan</h1>

    <div class="col-md-4" style="padding:20px 0">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
        </form>
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Day</th>
                <th>Meal</th>
                <th>Name</th>
                <th>Main ingredient</th>
                <th>Calories</th>
                <th>Price</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="food : ${foods}">
                <td th:text="${food.paiva}"></td>
                <td th:text="${food.meal.name}"></td>
                <td th:text="${food.name}"></td>
                <td th:text="${food.ingredient}"></td>
                <td th:text="${food.calories}"></td>
                <td th:text="${food.price}"></td>

                <td><a th:href="@{/delete/{id}(id=${food.id})}" class="btn btn-xs btn-danger">Delete</a></td>
                    
                <td> <a th:href="@{/edit/{id}(id=${food.id})}" class="btn btn-danger">Edit</a></td>

            </tr>
        </tbody>

    </table>
    <a href="/add" class="btn btn-success">Add Food</a>
</body>
</html>